.header {
    height: 46px;
    width: 100%;
    display: grid;
    color: white;
    background-color: #CFCFCF;
    place-items: center; /* Shorter way to achieve display: flex; justify-content: center; align-items: center; */
  }
  